<!DOCTYPE html>
<html lang="en" ng-app="spa-demo">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Material+Icons", media: 'all' %>
    <%= stylesheet_link_tag "spa-demo", media: :all %>
    <%= javascript_include_tag "spa-demo" %>
    <title>Phototourist</title>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
